        <!-- Blog Sidebar Widgets Column -->
        <div class="col-md-4">
          <!-- Blog Categories Well -->
          <div class="well">
            <h4>
              Categories
            </h4>
            <div class="row">
              {% include categories.html %} 
            </div>
            <!-- /.row -->
          </div>
		  <!-- Blog Recent Well -->
          <div class="well">
            <h4>
              Recent Posts
            </h4>
			     <div class="row">
              {% include recent_posts.html %} 
			       </div>
          </div>		  
		  <!-- Blog Links Well -->
          <div class="well">
            <h4>
              Links
            </h4>
            {% include links.html %} 
          </div>
        </div>
